build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Testing/
*.obj
*.o
*.exe
*.dll
*.so
*.a
*.lib
prd.md
USDCAD.csv #8million rows, not useful for everyone
# test temp outputs
tests/tmp/

# local manual export outputs
data/equity.csv
data/trades.csv
data/metrics.json
